<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Config</title>
  <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="/main.js"></script>

</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>
<div class="columns is-fullheight">
  <div th:insert="~{fragments/menu.html ::menu }"></div>
  <main class="column m-4">

  <h1 class="title">Config</h1>

  </main>
</div>


</body>
</html>