<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Livestream</title>
  <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="/main.js"></script>
</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>
<div class="columns is-fullheight">
  <div th:insert="~{fragments/menu.html ::menu }"></div>
  <main class="column m-4">

    <section class="hero is-small">
      <div class="hero-body">
        <div class="columns is-vcentered is-mobile">
          <div class="column is-6">
            <div class="is-flex is-align-items-center">
              <p class="title mr-3">Live Übertragung</p>
            </div>
          </div>
          </div>
        </div>

      <div th:if="${error}" class="notification is-danger mt-3">
        <span th:text="${error}"></span>
      </div>
      <div th:if="${message}" class="notification is-success mt-3">
        <span th:text="${message}"></span>
      </div>


        <div class="columns">
          <div class="column is-6">
            <div class="box">
              <div th:if="${liveclient != null}">
                <img th:src="${'http://' + liveclient.name + ':5000/video'}" alt="Fehler beim Stream"/>
              </div>
              <div th:if="${liveclient == null}">
                <p>Wähle einen Client zur Überwachung aus!</p>
                <p>Achtung, die Überwachung wird gestoppt und muss wieder angeschalten werden!</p>
            </div>
            </div>
          </div>

          <div class="column is-6">
            <div class="box">
              <h2 class="title is-5 mb-4">Clientübersicht</h2>
              <table class="table is-fullwidth" style="background-color: white;">
                <thead>
                <tr>
                  <th class="has-text-black">ClientID</th>
                  <th class="has-text-black">Name</th>
                  <th class="has-text-black">LiveView</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="client : ${clients}">
                  <tr>

                    <td class="has-text-black" th:text="${client._id}">ID</td>
                    <td class="has-text-black" th:text="${client.name}">Name</td>
                    <td>
                      <form th:action="@{/features/livestream/{id}(id=${client._id})}" method="post">
                        <button type="submit" class="button is-small is-success">
                          <span class="icon"><i class="fas fa-play"></i></span>
                          <span>Start</span>
                        </button>
                      </form>
                    </td>
                  </tr>
                </th:block>

                </tbody>
              </table>
            </div>
          </div>


      </div>

    </section>
  </main>
</div>

</body>
</html>
