/* Error: no such file or directory
 *    ,
 * 7  | / @use "bulma/sass" with (
 * 8  | | 
 * 9  | |   $family-primary: '"SUSE", sans-serif',
 * 10 | |   $primary: hsl(343, 77%,44%),
 * 11 | |   $link:hsl(103, 48%, 100%),
 * 12 | |   $body-background-color: #ffffff,
 * 13 | |   $body-color: $black,
 * 14 | |   $title-color: $black,
 * 15 | | 
 * 16 | |   $dropdown-content-background-color: hsl(103, 48%, 100%)
 * 17 | | );
 *    | '-^
 *    '
 *   src\main\resources\static\styles.scss 7:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: no such file or directory\a    \2577 \a 7  \2502  \250c  @use \"bulma/sass\" with (\a 8  \2502  \2502  \a 9  \2502  \2502    $family-primary: '\"SUSE\", sans-serif',\a 10 \2502  \2502    $primary: hsl(343, 77%,44%),\a 11 \2502  \2502    $link:hsl(103, 48%, 100%),\a 12 \2502  \2502    $body-background-color: #ffffff,\a 13 \2502  \2502    $body-color: $black,\a 14 \2502  \2502    $title-color: $black,\a 15 \2502  \2502  \a 16 \2502  \2502    $dropdown-content-background-color: hsl(103, 48%, 100%)\a 17 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   src\\main\\resources\\static\\styles.scss 7:1  root stylesheet";
}
