<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>
</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>
<div class="columns is-fullheight">
    <div th:insert="~{fragments/menu.html ::menu }"></div>
    <main class="column m-4">
        <section class="hero is-small">
            <div class="hero-body">
                <p class="title">Client Konfiguration</p>
            </div>
        </section>

        <div th:if="${error}" class="notification is-danger mt-3">
            <span th:text="${error}"></span>
        </div>
        <div th:if="${message}" class="notification is-success mt-3">
            <span th:text="${message}"></span>
        </div>

        <div class="box">
            <div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
                <h2 class="title has-text-black">Bestehende Clients</h2>
            </div>

            <div class="table-container">
                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead class="has-background-black">
                    <tr class="has-text-black">
                        <th>ClientID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Anzahl Videos</th>
                        <th>Letzte Aufnahme</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="client : ${clients}">
                        <!-- Hauptdatenzeile -->
                        <tr class="has-background-white">
                            <td class="has-text-black" th:text="${client._id}">1</td>
                            <td class="has-text-black" th:text="${client.name}">Beispielname</td>
                            <td class="has-text-black" th:text="${client.location}">location</td>
                            <td class="has-text-black" th:text="${videoCounts[client._id]}">0</td>
                            <td class="has-text-black" th:text="${#temporals.format(latestVids[client._id], 'dd.MM.yyyy HH:mm')}">0</td>
                            <td>
                                <button class="button is-small is-success"
                                        th:attr="onclick=|document.getElementById('modal-restart-client-${client._id}').classList.add('is-active')|">
                                    <span class="icon"><i class="fas fa-power-off"></i></span>
                                </button>
                                <button class="button is-small is-info mr-2"
                                        th:attr="onclick=|document.getElementById('modal-edit-client-${client._id}').classList.add('is-active')|">
                                    <span class="icon"><i class="fas fa-edit"></i></span>
                                </button>
                                <button class="button is-small is-danger"
                                        th:attr="onclick=|document.getElementById('modal-delete-client-${client._id}').classList.add('is-active')|">
                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                </button>
                            </td>
                        </tr>
                          <!-- Kommentarzeile -->
                        <tr class="has-background-light">
                            <td colspan="6" class="has-text-black">
                                <strong class="has-text-black">Kommentar:</strong>
                                <span class="has-text-black" th:text="${client.comment}">Kein Kommentar vorhanden</span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>

        <!-- Modale für alle Clients -->
        <div th:each="client : ${clients}">
            <!-- Restart Modal -->
            <div class="modal" th:attr="id='modal-restart-client-' + ${client._id}">
                <div class="modal-background"
                     th:attr="onclick=|document.getElementById('modal-restart-client-${client._id}').classList.remove('is-active')|"></div>
                <div class="modal-card">
                    <header class="modal-card-head has-background-info">
                        <p class="modal-card-title has-text-black">Client neustarten</p>
                        <button class="delete" aria-label="close"
                                th:attr="onclick=|document.getElementById('modal-restart-client-${client._id}').classList.remove('is-active')|"></button>
                    </header>
                    <form th:action="@{/features/config/client/restart/{id}(id=${client._id})}" method="post">
                        <section class="modal-card-body">
                            <p class="has-text-white">Möchtest du den Client <strong th:text="${client.name}">Client</strong> wirklich neustarten?</p>
                        
                        </section>
                        <footer class="modal-card-foot">
                            <form th:action="@{/features/config/client/restart/{id}(id=${client._id})}" method="post">
                                <button class="button is-success" type="submit">Neustarten</button>
                            </form>
                            <button class="button" type="button"
                                    th:attr="onclick=|document.getElementById('modal-edit-client-${client._id}').classList.remove('is-active')|">Abbrechen</button>
                        </footer>
                    </form>
                </div>
            </div>

            <!-- Edit Modal -->
            <div class="modal" th:attr="id='modal-edit-client-' + ${client._id}">
                <div class="modal-background"
                     th:attr="onclick=|document.getElementById('modal-edit-client-${client._id}').classList.remove('is-active')|"></div>
                <div class="modal-card">
                    <header class="modal-card-head has-background-info">
                        <p class="modal-card-title has-text-black">Client bearbeiten</p>
                        <button class="delete" aria-label="close"
                                th:attr="onclick=|document.getElementById('modal-edit-client-${client._id}').classList.remove('is-active')|"></button>
                    </header>
                    <form th:action="@{/features/config/client/update/{id}(id=${client._id})}" method="post">
                        <section class="modal-card-body">
                            <input type="hidden" name="id" th:value="${client._id}" />
                            <div class="field">
                                <label class="label has-text-white" for="comment_${client._id}">Kommentar</label>
                                <div class="control">
                                    <textarea id="comment_${client._id}" class="textarea" name="comment" placeholder="Kommentar eingeben..." th:text="${client.comment}"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-white" for="location_${client._id}">Location</label>
                                <div class="control">
                                    <input class="input" id="location_${client._id}" name="location" type="text" th:value="${client.location}" required />
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-info" type="submit">Speichern</button>
                            <button class="button" type="button"
                                    th:attr="onclick=|document.getElementById('modal-edit-client-${client._id}').classList.remove('is-active')|">Abbrechen</button>
                        </footer>
                    </form>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal" th:attr="id='modal-delete-client-' + ${client._id}">
                <div class="modal-background"
                     th:attr="onclick=|document.getElementById('modal-delete-client-${client._id}').classList.remove('is-active')|"></div>
                <div class="modal-card">
                    <header class="modal-card-head has-background-danger">
                        <p class="modal-card-title has-text-black">Client löschen</p>
                        <button class="delete" aria-label="close"
                                th:attr="onclick=|document.getElementById('modal-delete-client-${client._id}').classList.remove('is-active')|"></button>
                    </header>
                    <section class="modal-card-body">
                        <p class="has-text-white">Möchtest du den Client <strong th:text="${client.name}">Client</strong> wirklich löschen?</p>
                        <p class="has-text-danger"><strong>Achtung: </strong>Alle Videos des Clients werden gelöscht!</p>
                    </section>
                    <footer class="modal-card-foot">
                        <form th:action="@{/features/config/client/delete/{id}(id=${client._id})}" method="post">
                            <button class="button is-danger" type="submit">Löschen</button>
                        </form>
                        <button class="button"
                                th:attr="onclick=|document.getElementById('modal-delete-client-${client._id}').classList.remove('is-active')|">Abbrechen</button>
                    </footer>
                </div>
            </div>

        </div>

    </main>
</div>

</body>
</html>
