<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Config</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>

<div class="container pt-3">
  <h1 class="title"> Hier entsteht die Möglichkeit für die Konfiguration der Überwachungsapplikation</h1>

  <h3 class="subtitle is-3 has-text-black">Portverbindung eines Netzwerkes starten oder stoppen</h3>

  <form class="pt-3" action="/features/config/startServer" method="POST">
    <button class="button is-danger is-rounded" type="submit">Server starten</button>
  </form>
  <form class="pt-3" action="/features/config/stopServer" method="POST">
    <button class="button is-danger is-rounded" type="submit">Server stoppen</button>
  </form>


</div>

<div class="container pt-3">
  <h2 class="subtitle is-3 has-text-black">Hier können neue Clients eingerichtet werden</h2>
</div>

</body>
</html>