<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>
</head>
<body>

<div th:fragment="header">
<header>
    <nav class="navbar is-primary py-3" role="navigation" aria-label="main navigation">

        <div class="navbar-start">
            <div th:if="${session.network != null}" class="navbar-item">
                <div class="button has-background-white">
                    <a class="has-text-black" href="/">
                        Aktuelles Netzwerk: <strong class="has-text-black" th:text="${session.network.name}"></strong>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div th:if="${session.network == null}" class="navbar-item">
                <div class="buttons">
                    <a class="button is-link is-rounded" data-open="#modal-login" href="#">
                    <span class="icon">
                        <i class="fas fa-wifi"></i>
                    </span>
                        <strong>Netzwerk anmelden</strong>
                    </a>
                </div>
            </div>

            <div th:if="${session.network != null}" class="navbar-item">
                <div class="buttons">
                    <a class="button is-link is-rounded" data-open="#modal-logout" href="#">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                        <strong>Abmelden</strong>
                    </a>
                </div>
            </div>
        </div>

    </nav>


    <div class="modal" id="modal-login">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-danger">
                <p class="modal-card-title has-text-black">Netzwerkauswahl</p>
                <button class="delete" aria-label="close" data-close="#modal-login"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <form action="/features/config/network/login" method="post">
                        <div class="field">
                            <label class="has-text-white"for="network">Netzwerk:</label>
                            <select class="input" id="network" name="network" required>
                                <option value="">Bitte ein Netzwerk wählen</option>
                                <option th:each="network : ${session.networks}" th:value="${network._id}" th:text="${network.name + ' (ID: ' + network._id + ')'} "></option>
                            </select>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-link" type="submit">Auswählen</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <footer class="modal-card-foot">
                <button class="button is-danger" data-close="#modal-login">Schließen</button>
            </footer>
        </div>
    </div>

    <div class="modal" id="modal-logout">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-danger">
                <p class="modal-card-title has-text-black">Wollen Sie sich abmelden?</p>
                <button class="delete" aria-label="close" data-close="#modal-login"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <form action="/features/config/network/logout" method="post">
                        <div class="field">
                            <div class="control">
                                <button class="button is-link" type="submit">Abmelden</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <footer class="modal-card-foot">
                <button class="button is-danger" data-close="#modal-login">Schließen</button>
            </footer>
        </div>
    </div>
</header>
</div>

</body>
</html>
