<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>
</head>
<body>

    <aside th:fragment="menu" class="column aside">
        <nav class="menu">
            <div class="ml-5 mt-3">
            <p class="menu-label ">
                General
            </p>
            <ul class="menu-list has-background-info" >
                <li><a class="has-text-black has-background-info" href="/">Dashboard</a></li>
                <li><a th:if="${session.network != null}" class="has-text-black has-background-info" href="/features/live">Überwachung</a></li>
                <li><a th:if="${session.network != null}" class="has-text-black has-background-info" href="/features/dataStorage">Dateiverwaltung</a></li>
            </ul>
            <p class="menu-label">
                Konfiguration
            </p>
            <ul class="menu-list ">
                <li><a th:if="${session.network != null}" class="has-text-black has-background-info" href="/features/config/client">Clients</a></li>
            </ul>
            </div>
        </nav>
    </aside>

</body>
</html>
