<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>




<section class="section">


<h1 class="title has-text-danger">ERROR - Das hat leider nicht geklappt :/</h1>

  <h2 class="title"> Das ist der Error Fallback für übersehenne Fehler...Bitte prüfen</h2>
  <h2 class="title"> TODO: Bitte noch fehler  Ausgeben lassen!!</h2>
</section>

</body>
</html>