<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>
</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>

<div class="columns is-fullheight">
    <div th:insert="~{fragments/menu.html ::menu }"></div>

    <main class="column m-4">
        <!-- Dashboard Header -->
        <div class="level mb-5">
            <div class="level-left">
                <div class="level-item">
                    <div class="title">Dashboard</div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button type="button" class="button is-small is-info is-light">
                        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                        <span th:text="${session.currentDate}">Datum</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Netzwerk + Speicherbelastung + Socket -->
        <div th:if="${session.network != null}">
            <div class="columns is-multiline">
                <!-- Netzwerk & Speicher -->
                <div class="column is-6">
                    <div class="box mb-4">
                        <div class="columns">
                            <div class="column">
                                <p class="heading is-5">Netzwerk</p>
                                <p class="title is-6" th:text="${session.network.name + ' (ID: ' + session.network._id + ')'}">Netzwerkname</p>
                            </div>
                            <div class="column">
                                <p class="heading is-5">Port</p>
                                <p class="title is-6" th:text="${session.network.port}">Port</p>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <p class="heading is-5">Verzeichnis</p>
                                <p class="title is-6" th:text="${session.network.rootPath}">/pfad/</p>
                            </div>
                            <div class="column">
                                <p class="heading is-5">Anzahl Videos: </p>
                                <p class="title is-6"th:text="${countVids}">1</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p class="heading is-5">Speicherbelastung</p>
                                <p class="title is-6" th:text="${#numbers.formatDecimal(totalMb, 1, 2)} + ' MB'">1mb</p>
                            </div>
                            <div class="column">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Socketstatus -->
                <div class="column is-6">
                    <div class="box">
                        <p class="heading">Socketstatus</p>
                        <p class="title is-5">Verbindungsstatus</p>

                        <div th:if="${session.socket == true}">
                            <div class="notification is-success has-text-centered mt-4">
                                <span class="icon"><i class="fas fa-check-circle"></i></span>
                                <strong>Aktiv</strong>
                            </div>
                        </div>
                        <div th:if="${session.socket != true}">
                            <div class="notification is-danger has-text-centered mt-4">
                                <span class="icon"><i class="fas fa-ban"></i></span>
                                <strong>Inaktiv</strong>
                            </div>
                        </div>

                        <div class="buttons mt-4">
                            <form action="/features/config/startServer" method="POST" class="mb-2">
                                <button class="button is-link is-rounded is-fullwidth" type="submit">Server starten</button>
                            </form>
                            <form action="/features/config/stopServer" method="POST">
                                <button class="button is-danger is-rounded is-fullwidth" type="submit">Server stoppen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns mt-5">

                <!-- Aktuellstes Video mit erweiterten Infos -->
                <div class="column is-6">
                    <article class="panel is-info">
                        <p class="panel-heading">
                            Aktuellstes Video
                        </p>
                        <div class="panel-block">
                            <div th:if="${video != null}">
                                <div class="columns is-multiline">
                                    <div class="column is-5">
                                        <p class="has-text-black"><strong class="has-text-black">ID:</strong> <span th:text="${video._id}">ID</span></p>
                                        <p class="has-text-black"><strong class="has-text-black">Favorit:</strong> <span th:text="${video.favorite ? 'Ja' : 'Nein'}">Nein</span></p>
                                        <p class="has-text-black"><strong class="has-text-black">Kommentar:</strong> <span th:text="${video.comment}">Kein Kommentar vorhanden</span></p>
                                    </div>
                                    <div class="column">
                                        <p class="has-text-black"><strong class="has-text-black">Dauer:</strong> <span th:text="${video.duration}">0:00</span></p>
                                        <p class="has-text-black"><strong class="has-text-black">Größe:</strong> <span th:text="${#numbers.formatDecimal(video.mb, 1, 2)} + ' MB'">1048576 MB</span></p>
                                        <p class="has-text-black"><strong class="has-text-black">Erstellt am:</strong> <span th:text="${#temporals.format(video.date, 'dd.MM.yyyy HH:mm')}">Datum</span></p>
                                    </div>
                                </div>
                                <div>
                                    <p class="has-text-black"><strong class="has-text-black">Pfad:</strong> <span th:text="${video.path}">/media/video.mp4</span></p>
                                </div>
                                <div class="buttons mt-3">
                                    <a class="button is-small is-success mr-2" th:href="@{/features/live/{id}(id=${video._id})}">
                                        <span class="icon"><i class="fas fa-play"></i></span>
                                        <span>Abspielen</span>
                                    </a>
                                </div>
                            </div>
                            <div th:if="${video == null}">
                                <p class="has-text-black">Noch kein Video</p>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Aktuellster Client -->
                <div class="column is-6">
                    <article class="panel is-info">
                        <p class="panel-heading">
                            Aktuellster Client
                        </p>
                        <div class="panel-block">
                            <div>
                                <p class="has-text-black" ><strong class="has-text-black">Name:</strong> <span >Kein Client verfügbar</span></p>
                                <p class="has-text-black"><strong class="has-text-black">Verbunden am:</strong> <span >Datum</span></p>
                                <p class="has-text-black"><strong class="has-text-black">Status:</strong> <span>Unbekannt</span></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>


</body>
</html>
