<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>

</head>
<body>

    <div th:insert="~{fragments/header.html ::header }"></div>
        <div class="columns is-fullheight">
            <div th:insert="~{fragments/menu.html ::menu }"></div>
            <main class="column m-4">

                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="title">Dashboard</div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button type="button" class="button is-small">
                                <a th:text="${session.currentDate}"></a>
                            </button>
                        </div>
                    </div>
                </div>

            <div th:if="${session.network != null}">
                <div  class="columns is-multiline">
                    <div class="column">
                        <div class="box" style="max-width: 500px; margin: auto;">
                            <div class="heading">Aktuelles Netzwerk</div>
                            <div class="title" th:text="${session.network.name + ' (ID: ' + session.network._id + ')'}">{netzwerkID}</div>
                            <div class="level">
                                <div class="level-item">

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="box" style="max-width: 500px; margin: auto;">
                            <div class="heading">Speicherbelastung</div>
                            <div class="title"></div>
                            <div class="level">
                                <div class="level-item">
                                    <div class="">
                                        <div class="heading">Rev Prod $</div>
                                        <div class="title is-5">30%</div>
                                    </div>
                                </div>
                                <div class="level-item">
                                    <div class="">
                                        <div class="heading">Rev Serv $</div>
                                        <div class="title is-5">25%</div>
                                    </div>
                                </div>
                                <div class="level-item">
                                    <div class="">
                                        <div class="heading">Exp %</div>
                                        <div class="title is-5">45%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="panel">
                            <p class="panel-heading">
                                Aktuellstes Video:
                            </p>
                            <div class="panel-block">
                                <figure class="image is-16x9">

                                </figure>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </main>
        </div>

    <!--<div th:if="${session.network !=null}">-->
    <!--    <div th:text="${session.network._id}">h</div>-->
    <!--</div>-->
</body>
</html>