<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>

</head>
<body>

<div th:insert="~{fragments/header.html ::header }"></div>

<div th:if="${error}" class="notification is-danger mt-3" style="max-width: 500px; margin: auto;">
    <span th:text="${error}"></span>
</div>
<div th:if="${message}" class="notification is-success mt-3" style="max-width: 500px; margin: auto;">
    <span th:text="${message}"></span>
</div>

    <main>
        <section class="section">
            <div class="container">
                <div class="box" style="max-width: 500px; margin: auto;">
                    <h1 class="title has-text-centered has-text-black">Netzwerkauswahl</h1>

                    <form action="/login" method="post">
                        <div class="field">
                            <label class="label has-text-black" for="network">Netzwerk:</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select id="network" name="network" required>
                                        <option value="">Bitte ein Netzwerk wählen</option>
                                        <option th:each="network : ${networks}"
                                                th:value="${network._id}"
                                                th:text="${network.name + ' (ID: ' + network._id + ')'}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="field is-grouped is-grouped-space-between" style="align-items: center;">
                            <p class="control">
                                <a class="is-link has-text-black" href="/register">Netzwerk registrieren?</a>
                            </p>

                            <div class="field is-grouped is-grouped-right" style="margin-left: auto;">
                                <p class="control">
                                    <button class="button is-danger" type="submit">Auswählen</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    </main>



</body>
</html>